[Unit]
Description=Northstar Cloud Solutions NPM Backup
Documentation=https://northstarcloud.io/docs/npm-ami

[Service]
Type=oneshot
ExecStart=/usr/local/bin/npm-backup
TimeoutStartSec=900
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

